*{
    
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared-styles */
.display-flex{
    display: flex;
}
.text-dark02{
    color: #424242;
}
.text-dark03{
    color: #727272;
}
.bg-light{
    background-color: #fff4e6;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
}



/* main-styles */
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar,.banner{
    max-width: 1240px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    max-width: 1240px;
}
.banner-image{
    width: 100%;
}
.features-enjoy{
    max-width: 1240px;
    margin: 0 auto;
}



/* main section start */
main{
    max-width:1240px ;
    margin: 0 auto;
}
.teams{
    align-items: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
main > section{
    margin-top: 80px;
}
.our-feature{
    margin-left: 100px;
    max-width: 450px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick{
    font-weight: 500;
}
.quick2{
   
    color:  #FF900E;
}
.feature-description{
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 40px;
    text-align: justify;
}
.features-enjoy{
    display: flex;
    justify-content: flex-start;
    gap: 44px;
}
.features-enjoy-heading{
    font-size: 2.8rem;
    border-left: 4px solid #FF900E;
    padding-left: 10px;
}
.features-enjoy-description{
    font-size: 16px;
    margin-bottom: 30px;
    text-align: justify;
}
.div-box{
    width: 100%;
    height: 160px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;

}
.div-box h4{
    font-size: 1.25rem;
    font-weight: 600;
}
.div-box p{
    margin-top: -15px;
    font-size: 1.15rem;
}
.fea-img{
    width: 85%;
    height: 970px;
}
.btn-2{
  background-color: #FF900E;
  border: none;
  color: white;
   padding: 5px 40px;
   border-radius: 10px; 
   margin-top: -60px;
   margin-left: -50px;
}
.btn-2 h1{
    font-size: 3.1rem;
}
.btn-2 h4{
    margin-top: -30px;
    font-size: 20px;
}
.some-facts{
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.facts-box{
    display: flex;
    justify-content: space-around;

}
.some-facts-heading{
    font-size: 2.8rem;
    font-weight: 700;
}
.some-facts-description{
    font-size: 1rem;
    margin-top: -20px;
    margin-bottom: 70px;
}
.fact-box-1{
    height: 241px;
    width: 241px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-box-1 h3{
    font-size: 2.81rem;
     font-weight: 700;
     margin: -1px -2px;
     margin-top: 10px;
    

}
.fact-box-1 h4{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -1px;

}
.fact-box-1 img{
  margin-top: 30px;
}
.our-sponspors{
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
}
.sponsors-photos{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 70px;
}
.sponsors-photos div img{
  filter: grayscale(50%);
}
.our-sponspors p{
    font-size: 1rem;
}
.our-sponspors-1{
     width: 100%;
}




@media screen and (max-width:576px) {
    .navbar,.nav-links,.teams,.features-enjoy{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature{
        margin-left: 10px;
    }
    .btn-2{
         margin-top: 10px;
          margin-left: 10px;
    }
    .facts-box{
        flex-direction: column;
        gap: 20px;
        margin-left: 70px;
    }
    .sponsors-photos{
      flex-direction: column;
    }

}
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
}